<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link href="http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/main.css">

    <title>Codeweekend - take part in coding challange and submit your ideas</title>

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Codeweekend</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <div class="navbar-form navbar-right">
            {% if user.is_authenticated %}
                <form action="/accounts/logout/" method=POST>
                    <a href="/ideabox/add" class="btn btn-success">Share an idea</a>
                    {% csrf_token %}
                    {% load account %}
                    <input type="submit" class="btn btn-warning" value="Logout {% user_display user %}" />
                </form>
            {% else %}
                {% load socialaccount %}
                <a href="{% provider_login_url "facebook" method="oauth2" next=request.path %}" class="btn btn-primary">Facebook Connect</a>
                <a href="{% provider_login_url "github" next=request.path %}" class="btn btn-warning">Github Connect</a>
            {% endif %}
          </div>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
